
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 130 67% 96.1%;
    --foreground: 222.2 84% 4.9%;
    --card: 130 67% 98%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 130 67% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 127 30% 55%;
    --primary-foreground: 130 100% 10%;
    --secondary: 130 60% 92%;
    --secondary-foreground: 127 30% 30%;
    --muted: 130 60% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 19 56% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 20% 88%;
    --input: 130 20% 88%;
    --ring: 127 30% 55%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 132 40% 5%;
    --foreground: 130 40% 98%;
    --card: 132 40% 7%;
    --card-foreground: 130 40% 98%;
    --popover: 132 40% 5%;
    --popover-foreground: 130 40% 98%;
    --primary: 127 30% 65%;
    --primary-foreground: 130 100% 10%;
    --secondary: 130 30% 15%;
    --secondary-foreground: 130 40% 98%;
    --muted: 130 30% 15%;
    --muted-foreground: 130 20% 65%;
    --accent: 19 56% 72%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 30% 15%;
    --input: 130 30% 15%;
    --ring: 127 30% 65%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Hide arrows from number inputs */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }
}

@media print {
  body {
    background-color: white;
    color: black;
    font-family: 'Noto Sans Lao', sans-serif;
  }
  .print\:hidden {
    display: none;
  }
  .print\:block {
    display: block;
  }
  .print\:p-0 {
    padding: 0;
  }
  .print\:gap-0 {
    gap: 0;
  }
  .print\:gap-2 {
    gap: 0.5rem;
  }
  .print\:space-y-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .print\:shadow-none {
    box-shadow: none;
  }
  .print\:border-none {
    border: none;
  }
   .print\:border {
    border-width: 1px;
  }
  .print\:p-1 {
    padding: 0.25rem;
  }
  main {
    margin: 0;
    padding: 0;
  }
  header {
    display: none;
  }
  .print\:font-lao {
    font-family: 'Noto Sans Lao', sans-serif;
  }
}


